*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 40px 80px;
}
h1{
font-weight: 700;
font-size: 50px;
line-height: 58px;
}
span {
    color: #6c5fbc;
}
ul {
    margin: 40px 0 40px 20px;
    color: #676767;
    font-size: 20px;
    line-height: 30px
}
ul li {
    margin-bottom: 20px;
}
button {
    background: #6c5f6c;
    color: #fff;
    padding: 20px 40px;
    font-size: 18px;
    
}